#fetchcond {
	margin: 0 15px;
}

#fetchcond .list-group {
	margin-top: 15px;
}

#fetchcond .list-group-item {
	padding: 8px 15px;
}

#fetchcond .list-group-item .title-type{
	font-size: 16px;
}

#fetchcond .list-group-item .img-items{
	width: 30px;
}

/* test */
#fetchcond .nav-tabs {
	margin-top: 10px;
}

#fetchcond .nav-tabs li{
	position: relative;
	overflow: visible;
}

#fetchcond .nav-tabs .badge{
	position: absolute;
	right: 0;
	top:-5px;
}