#fetchcond {
	margin: 0 15px;
}

#fetchcond .update-time{
	padding: 6px 15px;
	margin: 0 -15px;
	background: #454545;
	text-align: right;
}

#fetchcond .list-group {
	margin-top: 15px;
}

#fetchcond .list-group-item {
	padding: 8px 15px;
}

#fetchcond .list-group-item .title-type{
	font-size: 16px;
}

#fetchcond .list-group-item .img-items{
	width: 30px;
}